#container {
  #header {
    background-color: black;
    position: fixed;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    #nav {
      padding: 15px;
      display: flex;
      align-items: center;
      >#logo {
        font-weight: bold;
        font-size: 18px;
      }
      >ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        margin-left: 10px;
        li {
          display: inline-block;
          a {
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    #login {
      padding: 15px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
