.form-group {
  margin-bottom: 15px;
  width: 100%;
  label {
    display: inline-block;
    margin-bottom: 5px;
  }

  .form-group-info {
    text-align: right;
    font-size: 12px;
  }

  &.form-group-error {
    color: red;
    .form-control {
      border: solid 1px red;
    }
  }
}
